<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- NodeJS 代码需要写道 <% %> -->
    <!-- 当需要输出数据的时候 需啊哟使用 <%= %> -->

    <h1>
        <%= className %>
    </h1>

    <Ul>
        <% for(let i=0;i<std.length; i++){ %>

            <li>姓名：
                <%= std[i].name%>
                    年龄：
                    <%= std[i].age %>
            </li>
            <%  } %>
    </Ul>


</body>

</html>