<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>新建学员信息</h1>
    <form action="/create" method="post">
        <p><label>姓名:<input type="text" name="name"></label></p>
        <p><label>年龄:<input type="text" name="age"></label></p>
        <p><label>性别:<input type="text" name="sex"></label></p>
        <p><input type="submit" value="提交"></p>
    </form>
</body>

</html>